html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: black;
  background: white;
}

.hidden {
  display: none;
}

header {
  background-color: green;
  min-height: 320px;
}

main {
  background-color: #61b4d;
  height: 100%;
}

footer {
  background-color: grey;
  height: 100px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  border: 1px solid #fff;
  height: 100%;
}

.header-up {
  min-height: 50px;
  background-color: #293449;
}

.header-down {
  min-height: 275px;
  background-color: #f1f5f7;
}

.main-block-for {
  background-color: #f1f5f7;
}

.footer-up {
  min-height: 140px;
  background-color: #32425c;
}

.footer-down {
  min-height: 110px;
  background-color: #293449;
}


/*третий уровень сетки*/

.header-up-left {
  float: left;
  width: 50%;
  background-color: #f7cd08;
}

.header-up-right {
  float: right;
  width: 50%;
  background-color: #a77e42;
}

.header-down-one {
  min-height: 155px;
  background-color: #f7d8ab;
}

.header-down-two {
  min-height: 55px;
  background-color: #32425c;
}

.categories-block {
  background-color: #9c8c75;
  min-height: 400px;
}

.catalog-block-cap,
.factory-block-cap {
  min-height: 90px;
  background-color: #f7f3ec;
}

.catalog-block {
  background-color: #f7c172;
  min-height: 315px;
}

.factory-block {
  background-color: #9c8c75;
  min-height: 400px;
}

.services-block {
  background-color: #f2f6f8;
  min-height: 400px;
}

.info-block {
  background-color: #9c8c75;
  min-height: 535px;
}

.catalog .catalog-block-left {
  float: left;
  width: 220px;
  background-color: #f7cd08;
}

.catalog .catalog-block-right {
  float: left;
  width: 700px;
  margin-left: 20px;
  background-color: #a77e42;
}

.footer-up-left {
  float: left;
  width: 300px;
  background-color: #f7cd08;
}

.footer-up-right {
  float: right;
  width: 640px;
  background-color: #a77e42;
}

.footer-down-one {
  float: left;
  width: 33.33%;
  background-color: #a77e42;
}

.footer-down-two {
  float: left;
  width: 28%;
  background-color: #f7cd08;
}

.footer-down-three {
  float: left;
  width: 38%;
  background-color: #a77e42;
}


/*четвертый уровень сетки*/

.header-down-one-info {
  float: left;
  width: 33.33%;
  background-color: #a77e42;
}

.header-down-one-contacts {
  float: left;
  width: 33.33%;
  background-color: #f7cd08;
}

.header-down-one-user {
  float: left;
  width: 33.33%;
  background-color: #a77e42;
}

.info-block-left {
  float: left;
  width: 520px;
  min-height: 535px;
  box-sizing: border-box;
  background-color: #f7cd08;
}

.info-block-right {
  float: right;
  width: 300px;
  min-height: 535px;
  background-color: #a77e42;
}


/*выше 4-го уровня*/

.header-tehnomart,
.search {
  float: left;
  width: 220px;
  border: 1px dotted #666666;
  box-sizing: border-box;
}

.bookmark {
  float: right;
  width: 140px;
  min-height: 40px;
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;
  border: 1px dotted #666666;
}

.basket {
  float: right;
  width: 140px;
  min-height: 40px;
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;
  border: 1px dotted #666666;
}

.checkout {
  float: right;
  width: 150px;
  min-height: 40px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  background-color: #63a63e;
}

.phone {
  width: 240px;
  min-height: 45px;
  text-align: center;
  padding-top: 10px;
  border: 1px dotted #666666;
}

.address {
  text-align: center;
  padding-top: 10px;
  background-color: #cae0eb;
  border: 1px dotted #666666;
}

.enter {
  float: right;
  width: 120px;
  min-height: 50px;
  margin-right: 10px;
  text-align: center;
  padding-top: 12.5px;
  box-sizing: border-box;
  border: 1px dotted #666666;
}

.registration {
  float: right;
  width: 150px;
  min-height: 50px;
  text-align: center;
  padding-top: 12.5px;
  box-sizing: border-box;
  border: 1px dotted #666666;
}

.header-navigation {
  list-style: none;
  background-color: #f7cd08;
}

.navigation-item {
  float: left;
  padding-top: 12.5px;
  padding-right: 50px;
}

.navigation-item:nth-child(6) {
  padding-right: 0;
}

.categories-item {
  float: left;
  width: 300px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: lightgreen;
}

.categories-item:nth-child(3),
.categories-item:nth-child(6),
.categories-item:nth-child(5) {
  margin-right: 0;
}

.categories-item-big {
  width: calc(300px * 2 + 20px);
  height: 260px;
  background-color: lightyellow;
  float: left;
  margin-right: 20px;
}

.name-category {
  margin-left: 22px;
}

.putton-shadow {
  float: left;
  width: 135px;
  min-height: 40px;
  margin-left: 25px;
  text-align: center;
  background-color: #ff1f92;
}

.punchers {
  border: 1px dotted #666666;
}

.cap-products,
.cap-factory {
  background-color: #f7f3ec;
  border: 1px dotted #666666;
}

.popular-products,
.popular-factory {
  float: left;
  border: 1px dotted #666666;
}

.all-products,
.all-factory {
  float: right;
  width: 250px;
  margin-top: 24px;
  min-height: 40px;
  padding-top: 14px;
  text-align: center;
  background-color: #ee3643;
}

.logo-item {
  float: left;
  width: 220px;
  min-height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.logo-item:nth-child(4),
.logo-item:nth-child(8) {
  margin-right: 0;
}

.services-block-one-info {
  float: left;
  box-sizing: border-box;
  border: 1px dotted #666666;
}

.service-block-two {
  float: left;
  width: 240px;
  min-height: 180px;
  background-color: #229edc;
}

.service-button {
  float: left;
  width: 240px;
  min-height: 60px;
  background-color: #ff1f92;
  border: 1px dotted #666666;
  box-sizing: border-box;
  padding: 20px;
}

.service-block-three {
  float: left;
  width: 700px;
  background-color: #f1ff92;
}

.service-block-delivery {
  float: left;
}

.img-car {
  float: right;
}

.about-company-putton {
  float: left;
  min-height: 40px;
  width: 240px;
  background-color: #ff1f92;
}

.info-block-right-map-write {
  width: 300px;
  min-height: 240px;
  border: 1px dotted #666666;
}

.map {
  float: right;
  padding-bottom: 40px;
}

.write-putton {
  float: right;
  min-height: 40px;
  box-sizing: border-box;
  background-color: #ff1f92;
}

.footer-tehnomart {
  float: left;
  width: 220px;
  min-height: 20 border: 1px dotted #666666;
  box-sizing: border-box;
}

.footer-address {
  float: left;
  border: 1px dotted #666666;
  box-sizing: border-box;
}

.footer-navigation-one {
  float: right;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
  border: 1px dotted #666666;
}

.footer-navigation-one:nth-child(5) {
  margin-right: 0;
}

.footer-navigation-two {
  float: right;
  list-style: none;
  border: 1px dotted #666666;
}

.company {
  float: left;
  border: 1px dotted #666666;
}

.img-social {
  float: left;
  padding: 1%;
  border: 1px dotted #666666;
}

.footer-mail {
  float: left;
  width: 50%;
  border: 1px dotted #666666;
}

.copyright {
  float: left;
  width: 40%;
  border: 1px dotted #666666;
}


/*catalog-page*/

.user {
  text-align: center;
}

.user-order,
.user-office {
  float: left;
  border: 1px dotted #666666;
}

.main-sorting {
  padding-left: 10px;
  min-height: 38px;
  border: 1px dotted #666666;
  box-sizing: border-box;
}

.sorting {
  float: left;
}

.sorting-param {
  float: left;
  margin-left: 140px;
  list-style: none;
}

.sorting-param-item {
  float: left;
}

.number-page {
  float: left;
  margin-left: 240px;
  list-style: none;
  min-height: 38px;
  border: 1px dotted #666666;
}

.number-page-item {
  float: left;
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  border: 1px dotted #666666;
}

.filter-name {
  padding: 10px;
  background-color: #f7f3ec;
}

.filter-price-name {
  min-height: 55px;
  padding-top: 20px;
  background-color: #ffffff;
  box-sizing: border-bo;
}

.bar {
  padding-top: 35px;
  min-height: 80px;
  margin-bottom: 10px;
  background-color: #f7f3ec;
  box-sizing: border-box;
}

.bar-start {
  float: left;
  width: 95px;
  background-color: #f7f3ec;
  box-sizing: border-box;
}

.bar-end {
  float: right;
  width: 95px;
  margin-top: 0px;
  min-height: 40px;
  background-color: #f7f3ec;
  border-top: 1px dotted #666666;
  box-sizing: border-box;
}

.filter-block-factory {
  border-top: 1px dotted #666666;
  border-bottom: 1px dotted #666666;
  box-sizing: border-box;
  background-color: #ff1f92;
}

.filter-block-power {
  float: left;
  min-height: 240px;
}

.factory,
.power {
  float: left;
  width: 240px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.factory-item,
.power-item {
  float: left;
  padding-bottom: 10px;
  width: 240px;
  box-sizing: border-box;
}

.putton-show {
  float: left;
  width: 140px;
  min-height: 38px;
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  background-color: red;
}

.info-block-incatalog {
  background-color: #f2f6f8;
}


/*======================================
 Системное оформление - не изменять
=======================================*/


/*======================================
 Системное оформление выше- не изменять
=======================================*/


/*Зададим ширину списка товаров и отцентруем его*/

.catalog .catalog-items {
  width: 700px;
  margin: 20px auto;
}
.main .catalog-items {
  width: 940px;
  margin: 20px auto;
}


/* Зададим размеры, отступы и рамки элементу каталога, а также текстовые стили для него */

.catalog-item {
  float: left;
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  /*временно*/
  background-color: #ffffff;
}

.main .catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog .catalog-item:nth-child(3n) {
  margin-right: 0;
}

/* Зададим стили флажку "новинка", расположим его
с помощью абсолютного позиционирования и ленточку зададим с помощью фона */

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}


/*Блок с ссылками разместим с помощью абсолютного позиционирования*/

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}


/*Зададим общие стили для кнопок: размеры, отступы, рамки и фон*/

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  /*текстовые стили, а также скругления углов*/
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}


/*Задаём отдельные стили для нижней кнопки*/

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}


/*чтобы блок с кнопками появлялся только при наведении*/

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}


/**/

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}


/*Оформим название товара и скидку*/

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}


/*Оформим блок цены*/

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}


/*Добавим для цены стрелку вправо*/

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}
