

body {
  min-width: 960px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: black;
  background: white;
}


.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

}
.sprite {
    background-image: url("../img/sprite1.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-basket {
    width: 17px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite-icon-bookmark {
    width: 14px;
    height: 16px;
    background-position: -10px -46px;
}

.sprite-icon-check-on {
    width: 27px;
    height: 23px;
    background-position: -10px -82px;
}

.sprite-icon-circle-dot {
    width: 25px;
    height: 25px;
    background-position: -10px -125px;
}

.sprite-icon-fb {
    width: 10px;
    height: 18px;
    background-position: -10px -170px;
}

.sprite-icon-home {
    width: 15px;
    height: 12px;
    background-position: -10px -208px;
}

.sprite-icon-inst {
    width: 17px;
    height: 17px;
    background-position: -10px -240px;
}

.sprite-icon-login {
    width: 20px;
    height: 17px;
    background-position: -10px -277px;
}

.sprite-icon-logout {
    width: 21px;
    height: 17px;
    background-position: -10px -314px;
}

.sprite-icon-phone {
    width: 19px;
    height: 19px;
    background-position: -10px -351px;
}

.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -10px -390px;
}

.sprite-icon-user {
    width: 20px;
    height: 18px;
    background-position: -10px -427px;
}

.sprite-icon-vk {
    width: 20px;
    height: 12px;
    background-position: -10px -465px;
}



.sprite2 {
    background-image: url(../img/sprite2.png);
    background-repeat: no-repeat;
    display: block;
}


/*универсальная кнопка*/
.btn {
  display: inline-block;/*кнопки могли располагаться на одной строке*/
  padding: 10px 55px;/*внутренние отступы*/
  margin-right: 10px;

  font-weight: 400;
  font-size: 14px;/*проверено*/
  line-height: 18px;/*проверено*/
  font-family: "Cuprum","Arial" sans-serif;
  vertical-align: top; /*вертикальное выравнивание для блочно-строчных кнопок*/
  text-align: center; /*выравнивание текста внутри кнопок по центру*/
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  /*сбросить все возможные свойства по умолчанию*/

  background-color: #ee3643;
  border: none;
  cursor: pointer;
}
/*стили наведения на кнопку и стили активной кнопки по стайлгайду*/
.btn:hover,
.btn:active {
  background-color: #ca2c37;
}
/* стили для кнопки, в случае если она неактивна */
.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.main-header {
  margin-bottom: 45px;

  color: #ffffff;

  background-color: #32425c;
}

.header-up {
  float:left;
  width: 940px;
  max-height: 42px;
}

.header-up ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}
.header-up form{
  padding: 8px 0px;
  padding-left: 0px;
}
.header-up label {
  padding-left: 50px;
}
.header-up input {
  width: 160px;
}

.header-up li {
  display: inline-block;
  font-weight: 400;


  font-size: 17px;/*проверено*/
  line-height: 18px;/*проверено*/
  vertical-align: top;
}

.header-up a {
  display: block;
  text-align: center;
  padding: 12px 0px;


  color: #ffffff;
  text-decoration: none;
}
.header-up .bookmark,
.header-up .basket {
  padding-left: 24px;
}
.header-up a:hover {
  background: #212a3a;
}
.header-up li:nth-child(1) {
  font-weight: 400;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  width: 220px;
  background-color: #ee3643;
}
.header-up li:nth-child(1):hover {
  background-color: #ca2c37;
}
.header-up li:nth-child(4),
.header-up li:nth-child(5) {
  float:right;
  width: 150px;
  padding: 0px 0px;
}


.header-up li:nth-child(3) {
  float: right;
  width: 150px;
  text-align: center;
  background-color: #63a63e;
}


.search,
.bookmark,
.basket {
  position: relative;



  color: #d4d6db;
  text-decoration: none;
}

.bookmark:hover,
.basket:hover,
.search:hover  {
  color: #ffffff;
  background-color: #212a3a;
}
.search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 11%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;

  background: url("../img/sprite1.png") no-repeat center;
  /* положение фона так, чтобы отображалась нужная иконка*/
  background-position: -1px -1px;
  opacity: 1;
}


.bookmark::before,
.basket::before{
  content: "";
  position: absolute;
  top: 50%;
  left:18%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;

  background: url("../img/sprite1.png") no-repeat center;
  /* положение фона так, чтобы отображалась нужная иконка*/
  background-position: -1px -1px;
  opacity: 1;
}
/* изменение непрозрачности
 псевдоэлемента при наведении на ссылку. */
.bookmark:hover::before {
  opacity: 1;
}


.icon-search::before{
  width: 17px;
  height: 17px;
  background-position: -10px -390px;
}
.icon-bookmark::before{
  width: 14px;
  height: 16px;
  background-position: -10px -46px;
}
.icon-basket::before{
  width: 17px;
  height: 16px;
  background-position: -10px -10px;
}

.header-down {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
  min-height: 280px;
  background-color: #f1f5f7;
}
.header-down-one-info {
  float: left;
  width: 24%;
  padding: 0px;
  margin-left: 50px;
  margin-top: 32px;

  font-size: 16px;/*проверено*/
  line-height: 23px;/*проверено*/

  font-style: italic;/*проверено*/
  color: #ee434f;
  border: 1px dotted #000000;
}

.header-down-one-contacts {
  float: left;
  width: 33.33%;
  border: 1px dotted black;
  height: 130px;

}


.phone {
  position: relative;
  margin: 45px 45px;
  margin-bottom: 0px;
  width: 267px;
  padding: 12px;
  padding-left: 32px;
  font-size: 21px;/*проверено*/
  line-height: 18px;/*проверено*/

  min-height: 40px;
  vertical-align: top;
  text-align: center;
  color: #e9292a;
  box-sizing: border-box;
  border: 3px solid #ffffff;
}

.phone::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite1.png");
  background-repeat: no-repeat;
}
.icon-phone::before{
  width: 19px;
  height: 19px;
  background-position: -10px -351px;
}
.address {
  margin-top:4px;
  margin-left: 40px;
  color: #657285;
  font-size: 14px;/*проверено*/
  line-height: 16.8px;/*проверено*/
  font-family: "Cuprum", "Arial"sans-serif;
  vertical-align: top; /*вертикальное выравнивание для блочно-строчных кнопок*/
  text-align: center; /*выравнивание текста внутри по центру*/
}

.header-down-one-user {
  float: right;
  border: 1px dottted black;
}

.enter
 {
  position: relative;
  display: inline-block;

  margin-top: 45px;

/*
  width: 0px;
  min-height: 10px; */
}

.registration
 {
  position: relative;

  margin-top: 45px;
/*
  width: 150px;
  min-height: 10px; */
}


.enter::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite1.png");
  background-repeat: no-repeat;
}
.icon-login::before {
    width: 20px;
    height: 17px;
    background-position: -10px -277px;
}

/* стили наведения на кнопку и стили
активной кнопки по стайлгайду */
.enter:hover,
.registration:hover {
  color: red;
  background-color: #ffffff;
}
.enter:active,
.registration:active {
  color: black;
  opacity: 0.5;
  background-color: #ffffff;
}
/* стили для кнопки, в случае если она неактивна */
.enter.disabled,
.enter:disabled {
  cursor: default;
  opacity: 0.5;
}

.enter:hover,
.enter:disabled:hover {
  background-color: #ffffff;
}



.header-down-one-user a {

  padding: 12px 0px;
  font-weight: 400;
  text-transform: none;
  font-size: 21px;/* проверено */
  line-height: 18px;/* проверено */
  font-family: "Cuprum","Arial", sans-serif;
  vertical-align: top; /* вертикальное выравнивание для блочно-строчных кнопок */
  text-align: center; /* выравнивание текста внутри кнопок по центру */
  text-transform: none;
  background-color: #ffffff;

  border:1px solid black;

  color: black;
}

.header-down-one-user a:nth-child(1){
  display: inline-block;
  padding: 14px 26px;
  padding-left: 45px;
}
.header-down-one-user a:nth-child(2){
  margin-right: 0px;
  padding: 14px 23px;

}






.categories-item-big {
  background: url(../img/worker.png) no-repeat center;
}


.main-block-for {
  background-color: #f1f5f7;
}

.footer-up {
  min-height: 195px;
  background-color: #32425c;
}


.main-navigation {
  float: left;
  margin-top: 22px;
  width: 940px;
  min-height: 60px;
  background-color: #32425c;
}
.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;

  font-size: 17px;/* проверено */
  line-height: 17px;/* проверено */
  vertical-align: top; /* вертикальное выравнивание для блочно-строчных кнопок */

}

.main-navigation a {
  display: block;
  padding: 20px 36px;
  color: #ffffff;
  text-decoration: none;
}
/* .main-navigation a:nth-child(1) {
  padding-left:53px;
} */


.main-navigation a:hover {
  background: #293449;
}

.main-navigation a:active {
  background: #1d2739;
}


.categories-block {
  margin-top: 58px;
  margin-bottom: 53px;

  min-height: 400px;
}

.catalog-block-cap{
  min-height: 89px;
  margin-bottom:0px;

  text-align: center;
  background-color: #f7f3ec;
}
.factory-block-cap {
  min-height: 89px;
  margin-bottom:16px;

  text-align: center;
  background-color: #f7f3ec;
}


.popular-products {
  float: left;
  margin-left: 29px;
  margin-top: 28px;
  font-weight: 400;
  text-transform: none;
  font-size: 30px;/* проверено */
  line-height: 30px;/* проверено */

  color: #32425c;
}

.popular-factory {
  float: left;
  margin-left: 25px;
  margin-top: 28px;
  font-weight: 400;
  text-transform: none;
  font-size: 30px;/* проверено */
  line-height: 30px;/* проверено */

  color: #32425c;
}

.all-products {
  float: right;
  margin-top: 25px;
  margin-right: 23px;
  border-radius: 3px;
}
.all-factory {
  float: right;
  margin-top: 25px;
  margin-right: 25px;
  padding: 10px 68px;

  border-radius: 3px;
}





.catalog-block {
  margin-bottom:15px;
  min-height: 314px;
}

.factory-block {
  min-height: 400px;
}

.info-block {
  min-height: 535px;
}


.footer-up-left {
  float: left;
  width: 325px;
}

.footer-up-right {
  float: right;
  margin-top: 28px;
  width: 615px;
}

.categories-item {
  float: left;
  width: 300px;
  height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: lightgreen;
  position: relative;
}
.categories-item::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 77%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite2.png");
  background-repeat: no-repeat;
}

.materials::before {
  width: 44px;
  height: 65px;
  background-position: -10px -10px;
}
.instrument::before {
  width: 75px;
  height: 61px;
  background-position: -10px -95px;
}
.technics::before {
  width: 78px;
  height: 62px;
  background-position: -10px -176px;
}
.discount::before{
  width: 59px;
  height: 72px;
  background-position: -10px -258px;
}
.delivery::before{
  width: 78px;
  height: 63px;
  background-position: -10px -350px;
}





.name-category{
  padding-left: 23px;
  padding-top: 20px;


  font-size: 24px;/* проверено */
  line-height: 30px;/* проверено */
  font-weight: 700; /* проверено */
  color: #ffffff;
}
.categories-item-big .name-category{
  padding-left: 24px;
  padding-top: 23px;
  padding-bottom: 0px;
  margin-bottom: 0px;

  font-size: 36px;/* проверено */
  line-height: 30px;/* проверено */
  font-weight: 700; /* проверено */
}
.name-category p{
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;

  font-size: 18px;/* проверено */
  line-height: 24px;/* проверено */
  font-weight: 400; /* проверено */
}



.categories-item:nth-child(1){
 background: #f6b22d;
}
.categories-item:nth-child(2){
  background: #4aafde;
}

.categories-item:nth-child(3){
  background: #cc79d1;
}
.categories-item:nth-child(5){
  background: #85d179;
}
.categories-item:nth-child(6){
  background: #f6b22d;
}

.categories-item:nth-child(3),
.categories-item:nth-child(6),
.categories-item:nth-child(5) {
  margin-right: 0;
}

.categories-item-big {
  float: left;
  width: calc(300px * 2 + 20px);
  height: 264px;
  margin-right: 20px;
  margin-bottom: 0;
  background-color: lightyellow;


}
.categories-item:nth-child(6) {
  margin-bottom: 0;
}
.categories-item-big .btn{
  font-size: 14px;/* проверено */
  line-height: 18px;/* проверено */
  font-weight: 400;
  position: relative;

  margin: 130px 23px;
  margin-bottom: 5px;
  padding: 10px 50px;
  border-radius: 3px;

}
.categories-item .btn {
  font-size: 14px;/* проверено */
  line-height: 18px;/* проверено */
  font-weight: 400;
  position: relative;

  width: 130px;
  margin:10px 25px;
  margin-bottom: 5px;
  padding: 10px 3px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color: ##dda028;как сделать прозрачную кнопку */
}

.categories-item .btn:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-item .btn:active{
  background-color: rgba(0, 0, 0, 0.2);
}

.factory-item {
  float:left;

  min-width: 218px;
  min-height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  text-align: center;
  line-height:136px;
  /* vertical-align: middle; */
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
}
.factory-item img {
  vertical-align: middle;
}

.factory-item:nth-child(4n) {
  margin-right: 0;
}
.factory-item:nth-child(5),
.factory-item:nth-child(6)
.factory-item:nth-child(7)
.factory-item:nth-child(8) {
  margin-bottom: 85px;
}

.services-block {
  padding-top: 45px;
  min-height: 472px;

  font-size: 19px;/*не получается посмотреть*/
  line-height: 24px;/*проверено*/

  background: url("../img/service.png") no-repeat center;
  background-color: #f2f6f8;
}
.services-block-one-info,
.service-block-delivery {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}
.services-block-one-info h2 {
  margin-top:12px;
  margin-bottom: 23px;

  font-size: 28px;
  line-height: 38px;
}
.services-block-one-info p {
  margin: 0;
  margin-bottom: 25px;
  font-size: 14.7px;/*не получается посмотреть*/
  line-height: 24px;
}
.service-block-delivery h2 {
  margin-top:40px;
  margin-bottom: 23px;

  font-size: 34px;
  line-height: 42px;
}
.service-block-delivery p {
  margin: 0;
  margin-bottom: 26px;
  font-size: 14.3px;/*не получается посмотреть*/
  line-height: 23px;
}



.service-block-menu {
  float: left;

  width: 240px;

}
.service-block-menu ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.service-block-menu li {
  display: block;
}

.service-block-menu a {
  min-width: 195px;
  padding: 16px 20px;
  text-align:left;

  font-weight: 700;/*проверено*/
  font-size: 21px;/*проверено*/
  line-height: 30px;/*проверено*/
  text-transform: none;

  color: #ffffff;
  background-color: #32425c;


}



.sevice-block-menu a:hover {
  background: #293449;
}

.sevice-block-menu a:active {
  color: #32425c;
  background-color: #ffffff;
}


.service-block-three {
  float: right;
  margin-right: 343px;
  width: 275px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  background-color: #f1ff92;
  border: 1px dotted black;
}



.index-content {
  margin-bottom: 0px;
  padding: 80px 120px;

  color: #000000;
}
.index-content-left {
  float: left;
  width: 520px;
}
.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 23px;
  font-size: 14px;
  line-height: 24px;
}

.transport-companies {
  margin-top: 30
  margin: 0;
  padding: 0;
  padding-right: 35px;

  list-style: none;
}

.transport-companies li {
  padding-left: 35px;
  margin-bottom: 20px;
}
.transport-companies li:nth-child(3) {
  margin-bottom: 40px;
}

.map {
  margin-bottom: 40px;
}
.index-content-left .btn {

  width: 110px;
}
.index-content-right .btn {
  clear: both;
  width: 63%;
}


.footer-up h1 {
  position: relative;

  display: inline-block;
  margin: 0;
  min-height: 60px;

  font-size: 30px;
  line-height: 30px;
  background-color: #ee3643;
  padding: 20px 40px;/*внутренние отступы*/

  vertical-align: top; /*вертикальное выравнивание для блочно-строчных кнопок*/
  text-align: center; /*выравнивание текста внутри кнопок по центру*/
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
}

.footer-up-left h1:hover {
  background-color: #ca2c37;
}

.footer-up p {
  float: left;
  margin-top:25px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border: 1px dotted #666666;
  box-sizing: border-box;
}

.footer-navigation-one {
  float: left;
  padding-left: 65px;
  width: 570px;
  border: 2px dotted black;
}
.footer-navigation-two {
  float: left;
  padding-left: 90px;
  width: 570px;
  border: 2px dotted black;
}
.footer-navigation-one ul,
.footer-navigation-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.footer-navigation-one li,
.footer-navigation-two li {
  display: inline-block;

  font-size: 18px;
  line-height: 24px;
  vertical-align: top;

}

.footer-navigation-one a {
  display: block;
  margin-right: 40px;
  color: #ffffff;
  text-decoration: none;
}
.footer-navigation-two a {
  color: #92856d;
}

.footer-navigation-one a:hover,
.footer-navigation-two a:hover {
  text-decoration: underline;
}

.footer-navigation-one a:nth-child(1){
  padding-right: 0px;
}

.footer-down {
  padding-top: 35px;
  padding-bottom: 36px;

  font-size: 16px;
  line-height: 18px;

  max-height: 110px;
  color: #ffffff;
  background-color: #293449;
}

.footer-contacts {
  float: left;
  width: 230px;
  margin-right: 135px;

  border:1px dotted white;
}

.footer-social {
  float: left;
  width: 180px;

  text-align: center;

}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  border-radius:50%;
  font-size: 0;
  text-decoration: none;
  background-color: #212a3a;
  position: relative;
}
.social-btn:hover {
  background-color: #ee3643;
}
.social-btn::before {
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite1.png");
  background-repeat: no-repeat;

}
.social-btn-vk::before {
  width: 20px;
  height: 12px;
  background-position: -10px -465px;
}
.social-btn-fb::before {
    width: 10px;
    height: 18px;
    background-position: -10px -170px;
}
.social-btn-inst::before {
    width: 17px;
    height: 17px;
    background-position: -10px -240px;
}

.footer-mail-copyright {
  float: right;

  max-width: 350px;
  margin-right: 15px;
}

.mail {
  float: left;
  margin-right: 50px;
}
.copyright {
  float: right;
  /* border:1px dotted white; */
}

.footer-mail-copyright p {
  margin: 0;
  padding: 0;
}
.footer-mail-copyright a {
  margin: 0;
  color: #c6a771;
  text-decoration: none;
}

.footer-mail-copyright a:hover {
  text-decoration:underline;
}
.footer-mail-copyright a:active {
  color: #ee3643;
  text-decoration: none;
}



/*catalog-page*/

.user {
  text-align: center;
}

.user-order,
.user-office {
  float: left;
  border: 1px dotted #666666;
}

.main-sorting {
  padding-left: 10px;
  min-height: 38px;
  border: 1px dotted #666666;
  box-sizing: border-box;
}

.sorting {
  float: left;
}

.sorting-param {
  float: left;
  margin-left: 140px;
  list-style: none;
}

.sorting-param-item {
  float: left;
}

.number-page {
  float: left;
  margin-left: 240px;
  list-style: none;
  min-height: 38px;
  border: 1px dotted #666666;
}

.number-page-item {
  float: left;
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  border: 1px dotted #666666;
}

.filter-name {
  padding: 10px;
  background-color: #f7f3ec;
}

.filter-price-name {
  min-height: 55px;
  padding-top: 20px;
  background-color: #ffffff;
  box-sizing: border-bo;
}

.bar {
  padding-top: 35px;
  min-height: 80px;
  margin-bottom: 10px;
  background-color: #f7f3ec;
  box-sizing: border-box;
}

.bar-start {
  float: left;
  width: 95px;
  background-color: #f7f3ec;
  box-sizing: border-box;
}

.bar-end {
  float: right;
  width: 95px;
  margin-top: 0px;
  min-height: 40px;
  background-color: #f7f3ec;
  border-top: 1px dotted #666666;
  box-sizing: border-box;
}

.filter-block-factory {
  border-top: 1px dotted #666666;
  border-bottom: 1px dotted #666666;
  box-sizing: border-box;
  background-color: #ff1f92;
}

.filter-block-power {
  float: left;
  min-height: 240px;
}

.factory,
.power {
  float: left;
  width: 240px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.factory-item .catalog,
.power-item {
  float: left;
  padding-bottom: 10px;
  width: 240px;
  box-sizing: border-box;
}

.putton-show {
  float: left;
  width: 140px;
  min-height: 38px;
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  background-color: red;
}

.info-block-incatalog {
  background-color: #f2f6f8;
}


/*======================================
 Системное оформление - не изменять
=======================================*/


/*======================================
 Системное оформление выше- не изменять
=======================================*/


/*Зададим ширину списка товаров и отцентруем его*/

.catalog .catalog-items {
  width: 700px;
  margin: 20px auto;
}
.main .catalog-items {
  width: 940px;
  margin: 20px auto;
}


/* Зададим размеры, отступы и рамки элементу каталога, а также текстовые стили для него */

.catalog-item {
  float: left;
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 0;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  /*временно*/
  background-color: #ffffff;
}

.main .catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog .catalog-item:nth-child(3n) {
  margin-right: 0;
}

/* Зададим стили флажку "новинка", расположим его
с помощью абсолютного позиционирования и ленточку зададим с помощью фона */

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}


/*Блок с ссылками разместим с помощью абсолютного позиционирования*/

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}


/*Зададим общие стили для кнопок: размеры, отступы, рамки и фон*/

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  /*текстовые стили, а также скругления углов*/
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}


/*Задаём отдельные стили для нижней кнопки*/

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}


/*чтобы блок с кнопками появлялся только при наведении*/

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}


/**/

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}


/*Оформим название товара и скидку*/

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}


/*Оформим блок цены*/

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}


/*Добавим для цены стрелку вправо*/

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}
