html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

body {
  min-width: 960px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-family: "Cuprum", sans-serif;
  color: black;
  background: white;
}


.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

  border: 1px dotted #66666;
}
/*универсальная кнопка*/
.btn {
  display: inline-block;/*кнопки могли располагаться на одной строке*/
  padding: 10px 30px;/*внутренние отступы*/
  margin-right: 10px;

  font-weight: 400;
  font-size: 14px;/*проверено*/
  line-height: 18px;/*проверено*/
  font-family: "Cuprum", sans-serif;
  vertical-align: top; /*вертикальное выравнивание для блочно-строчных кнопок*/
  text-align: center; /*выравнивание текста внутри кнопок по центру*/
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  /*сбросить все возможные свойства по умолчанию*/

  background-color: #ee3643;
  border: none;
  cursor: pointer;
}
/*стили наведения на кнопку и стили активной кнопки по стайлгайду*/
.btn:hover,
.btn:active {
  background-color: #ca2c37;
}
/* стили для кнопки, в случае если она неактивна */
.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}


.header-up {
  min-height: 40px;

  background-color: #32425c;
}

.header-up ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.header-up li {
  display: inline-block;
  font-weight: 400;

  font-size: 17px;
  line-height: 18px;
  vertical-align: top;
}

.header-up a,
.search {
  display: block;
  padding: 15px 27px;

  color: #ffffff;
  text-decoration: none;
}
.header-up a:hover {
  background: #212a3a;
}
.header-up li:nth-child(1) {
  text-align: center;
  width: 220px;
  background-color: #ee3643;
}
.header-up li:nth-child(1):hover {
  background-color: #ca2c37;
}

.header-up li:last-child{
  float:right;

  background-color: #63a63e;
}

.bookmark {
  position: relative;

  display: inline-block;
  padding: 25px 15px;
  padding-left: 40px;

  font-size: 17px;
  line-height: 18px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.bookmark:hover {
  background-color: #212a3a;
}

.bookmark::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 5px;

  width: 18px;
  height: 18px;

  background: #ff0000 url("img/sprite.png") no-repeat;
  /* положение фона так, чтобы отображалась нужная иконка*/
  background-position: -1px -1px;
  opacity: 0.3;
}
/* изменение непрозрачности
 псевдоэлемента при наведении на ссылку. */
.bookmark:hover::before {
  opacity: 1;
}

.header-down {
  min-height: 280px;
  background-color: #f1f5f7;
}
.header-down-one-info {
  float: left;
  width: 33.33%;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;

}
 .info {
  padding: 10px;
  margin-left: 25px;
  margin-top: 35px;
  color: #ee434f;
}
.phone {
  width: 265px;
  font-size: 21px;/*проверено*/
  line-height: 18px;/*проверено*/
  padding: 10px;
  margin-left: 25px;
  margin-top: 45px;
  min-height: 40px;
  vertical-align: top;
  text-align: center;
  color: #ee434f;
  box-sizing: border-box;
  border: 3px solid #ffffff;
}

.address {
  width: 265px;
  margin-left: 25px;
  font-weight: 400;
  font-size: 14px;/*проверено*/
  line-height: 24px;/*проверено*/
  font-family: "Cuprum", sans-serif;
  vertical-align: to; /*вертикальное выравнивание для блочно-строчных кнопок*/
  text-align: cente; /*выравнивание текста внутри по центру*/

  border: 1px dotted #666666;
}




.header-down-one-contacts {
  float: left;
  width: 33.33%;

}
.header-down-one-user {
  float: right;
  margin-top: 45px;
  width: 33.33%;
  min-height: 50px;


  background-color: red;
}



.header-down-one-user a {

  padding: 16px 27px;
  font-weight: 400;
  text-transform: none;
  font-size: 21px;/* проверено */
  line-height: 18px;/* проверено */
  font-family: "Cuprum", sans-serif;
  vertical-align: top; /* вертикальное выравнивание для блочно-строчных кнопок */
  text-align: center; /* выравнивание текста внутри кнопок по центру */
  text-transform: none;
  background-color: #ffffff;
  color: black;
}

.header-down-one-user a:nth-child(2){
  margin-right: 0px;
}




.materials {
  background: url(../img/materials.png) no-repeat center;
}

.categories-item-big {
  background: url(../img/worker.png) no-repeat center;
}


.main-block-for {
  background-color: #f1f5f7;
}

.footer-up {
  min-height: 140px;
  background-color: #32425c;
}


.main-navigation {
  float: left;
  width: 940px;
  min-height: 60px;
  background-color: #32425c;
}
.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation a {
  display: block;
  padding: 26px 25px;

  font-weight: 400;
  text-transform: none;
  font-size: 17px;/* проверено */
  line-height: 17px;/* проверено */
  font-family: "Cuprum", sans-serif;
  vertical-align: top; /* вертикальное выравнивание для блочно-строчных кнопок */
  text-align: center; /* выравнивание текста внутри кнопок по центру */
  text-transform: none;


  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #293449;
}

.main-navigation a:active {
  background: #1d2739;
}


.categories-block {
  margin-top: 60px;
  margin-bottom: 55px;
  background-color: #9c8c75;
  min-height: 400px;
}

.catalog-block-cap,
.factory-block-cap {
  margin-top: 20px;
  text-align: center;
  background-color: #f7f3ec;
}


.popular-products,
.popular-factory {
  float: left;
  border: 1px dotted #666666;
}

.all-products,
.all-factory {
  float: right;
  margin-top: 15px;
  margin-right: 25px;
}





.catalog-block {
  background-color: #f7c172;
  min-height: 315px;
}

.factory-block {
  background-color: #9c8c75;
  min-height: 400px;
}



.info-block {
  background-color: #9c8c75;
  min-height: 535px;
}

.catalog .catalog-block-left {
  float: left;
  width: 220px;
  background-color: #f7cd08;
}

.catalog .catalog-block-right {
  float: left;
  width: 700px;
  margin-left: 20px;
  background-color: #a77e42;
}

.footer-up-left {
  float: left;
  width: 325px;
}

.footer-up-right {
  float: right;
  width: 615px;
}

.categories-item {
  float: left;
  width: 300px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: lightgreen;

}
.name-category{
  padding-left: 23px;
  padding-top: 20px;


  font-size: 24px;/* проверено */
  line-height: 30px;/* проверено */
  font-weight: 700; /* что-то не так! */
  color: #ffffff;
}
.categories-item-big .name-category{
  padding-left: 24px;
  font-size: 36px;/* проверено */
  line-height: 30px;/* проверено */
  font-weight: 500; /* что-то не так! */
}
.categories-item-big .name-category p{
  font-size: 18px;/* проверено */
  line-height: 24px;/* проверено */
  font-weight: 100; /* что-то не так! */
}

.categories-item:nth-child(1){
  background: url(../img/materials.png) no-repeat center;
}
.categories-item:nth-child(2){
  background: url(../img/instrument.png) no-repeat center;
}

.categories-item:nth-child(3){
  background: url(../img/technics.png) no-repeat center;
}
.categories-item:nth-child(5){
  background: url(../img/discount.png) no-repeat center;
}
.categories-item:nth-child(6){
  background: url(../img/delivery.png) no-repeat center;
}

.categories-item:nth-child(3),
.categories-item:nth-child(6),
.categories-item:nth-child(5) {
  margin-right: 0;
}

.categories-item-big {
  float: left;
  width: calc(300px * 2 + 20px);
  height: 260px;
  margin-right: 20px;
  margin-bottom: 0;
  background-color: lightyellow;


}
.categories-item:nth-child(6) {
  margin-bottom: 0;
}
.categories-item-big .btn{
  font-size: 14px;/* проверено */
  line-height: 18px;/* проверено */
  font-weight: 200; /* что-то не так! */
  position: relative;
  width: 195px;
  margin: 90px 20px;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 3px;
}
.categories-item .btn {
  font-size: 14px;/* проверено */
  line-height: 18px;/* проверено */
  font-weight: 200; /* что-то не так! */
  position: relative;
  min-width: 135px;
  margin: 10px 20px;
  margin-bottom: 5px;
  padding: 10px 15px;
  border-radius: 3px;
}


.factory-block ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}


.factory-item {
  float: left;
  min-width: 220px;
  min-height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e7e7e7;
  background-color: ;
}

.factory-item:nth-child(4n) {
  margin-right: 0;
}
.factory-item:nth-child(5),
.factory-item:nth-child(6)
.factory-item:nth-child(7)
.factory-item:nth-child(8) {
  margin-bottom: 0;
}

.services-block {
  padding-top: 70px;
  min-height: 460px;
  border: 5px solid black;
  background: url("../img/service.png") no-repeat center;
  background-color: #f2f6f8;
}
.service-block-one {
  float: left;
  width: 100%;
  border: 1px dotted black;
}



.services-block-one-info p{
  width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}


.sevice-block-menu{
  float: left;
  margin-top: 120px;
  width: 240px;
  padding: 0px;
}
.sevice-block-menu ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.sevice-block-menu li {
  display: block;
  font-size: 21px;
  line-height: 30px;
}

.sevice-block-menu a {
  min-width: 195px;
  padding: 20px;
  text-align:left;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  text-transform: none;

  color: #ffffff;
  background-color: #32425c;


}

.service-block-three {
  float: right;
  margin-right: 343px;
  width: 275px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  background-color: #f1ff92;
  border: 1px dotted black;
}

.info-block-left {
  float: left;
  width: 520px;
  min-height: 370px;
  margin-top: 80px;
  background-color: #ffffff;
}

.info-block-left h2{
  float:left;
}
.info-block-left p{
  float:left;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.info-block-right {
  float: right;
  width: 300px;
  min-height: 370px;
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: #ffffff;
}
.info-block-right h2{
  float:left;
}
.info-block-right p{
  float:left;
  width: 180px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}


.about-company-putton {
  margin-top: 165px;
}

.write-putton {
  margin-top: 40px;
  width: 240px;
}

.footer-up h1 {
  position: relative;

  display: inline-block;
  margin: 0;
  min-height: 60px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  background-color: #ee3643;
  padding: 20px 40px;/*внутренние отступы*/
  font-family: "Cuprum", sans-serif;
  vertical-align: top; /*вертикальное выравнивание для блочно-строчных кнопок*/
  text-align: center; /*выравнивание текста внутри кнопок по центру*/
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
}

.footer-up-left h1:hover {
  background-color: #ca2c37;
}

.footer-up p {
  float: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border: 1px dotted #666666;
  box-sizing: border-box;
}

.footer-navigation-one,
.footer-navigation-two {
  float: right;
  border: 2px dotted black;
}
.footer-navigation-one ul,
.footer-navigation-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.footer-navigation-one li,
.footer-navigation-two li {
  display: inline-block;

  font-size: 18px;
  line-height: 24px;
  vertical-align: top;

}

.footer-navigation-one a,
.footer-navigation-two a {
  display: block;
  padding-left: 30px;
  color: #ffffff;
  text-decoration: none;
}
.footer-navigation-two a {
  color: #92856d;
}

.footer-navigation-one a:hover,
.footer-navigation-two a:hover {
  text-decoration: underline;
}

.footer-navigation-one a:nth-child(1){
  padding-right: 0px;
}

.footer-down {
  padding-top: 60px;
  padding-bottom: 36px;

  font-size: 16px;
  line-height: 18px;

  max-height: 110px;
  color: #ffffff;
  background-color: #293449;
}

.footer-contacts {
  float: left;
  width: 230px;
  margin-right: 160px;

  border:1px dotted white;
}

.footer-social {
  float: left;
  width: 180px;

  text-align: center;

}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background: #212a3a url("img/sprite.png") no-repeat center;
}
.social-btn:hover {
  background-color: #ee3643;
}

.social-btn-vk {
  background-position: 9px -447px;/*задать*/
}

.social-btn-fb {
  background-position: 15px -171px;/*задать*/
}

.social-btn-inst {
  background-position: 12px -313px;/*задать*/
}


.footer-mail-copyright {
  float: right;
  max-width: 300px;
  margin-right: 15px;

}
.mail{
  float: left;
  margin-right: 20px;/*50px*/
  border:1px dotted white;
}
.copyright{
  float: right;
  border:1px dotted whit;
}

.footer-mail-copyright p {
  margin: 0;
  margin-bottom: 15px;
}
.footer-mail-copyright a {
  color: #c6a771;
  text-decoration: none;
}

.footer-mail-copyright a:hover {
  text-decoration:underline;
}
.footer-mail-copyright a:active {
  color: #ee3643;
  text-decoration: none;
}



/*catalog-page*/

.user {
  text-align: center;
}

.user-order,
.user-office {
  float: left;
  border: 1px dotted #666666;
}

.main-sorting {
  padding-left: 10px;
  min-height: 38px;
  border: 1px dotted #666666;
  box-sizing: border-box;
}

.sorting {
  float: left;
}

.sorting-param {
  float: left;
  margin-left: 140px;
  list-style: none;
}

.sorting-param-item {
  float: left;
}

.number-page {
  float: left;
  margin-left: 240px;
  list-style: none;
  min-height: 38px;
  border: 1px dotted #666666;
}

.number-page-item {
  float: left;
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  border: 1px dotted #666666;
}

.filter-name {
  padding: 10px;
  background-color: #f7f3ec;
}

.filter-price-name {
  min-height: 55px;
  padding-top: 20px;
  background-color: #ffffff;
  box-sizing: border-bo;
}

.bar {
  padding-top: 35px;
  min-height: 80px;
  margin-bottom: 10px;
  background-color: #f7f3ec;
  box-sizing: border-box;
}

.bar-start {
  float: left;
  width: 95px;
  background-color: #f7f3ec;
  box-sizing: border-box;
}

.bar-end {
  float: right;
  width: 95px;
  margin-top: 0px;
  min-height: 40px;
  background-color: #f7f3ec;
  border-top: 1px dotted #666666;
  box-sizing: border-box;
}

.filter-block-factory {
  border-top: 1px dotted #666666;
  border-bottom: 1px dotted #666666;
  box-sizing: border-box;
  background-color: #ff1f92;
}

.filter-block-power {
  float: left;
  min-height: 240px;
}

.factory,
.power {
  float: left;
  width: 240px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.factory-item,
.power-item {
  float: left;
  padding-bottom: 10px;
  width: 240px;
  box-sizing: border-box;
}

.putton-show {
  float: left;
  width: 140px;
  min-height: 38px;
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  background-color: red;
}

.info-block-incatalog {
  background-color: #f2f6f8;
}


/*======================================
 Системное оформление - не изменять
=======================================*/


/*======================================
 Системное оформление выше- не изменять
=======================================*/


/*Зададим ширину списка товаров и отцентруем его*/

.catalog .catalog-items {
  width: 700px;
  margin: 20px auto;
}
.main .catalog-items {
  width: 940px;
  margin: 20px auto;
}


/* Зададим размеры, отступы и рамки элементу каталога, а также текстовые стили для него */

.catalog-item {
  float: left;
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 0;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  /*временно*/
  background-color: #ffffff;
}

.main .catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog .catalog-item:nth-child(3n) {
  margin-right: 0;
}

/* Зададим стили флажку "новинка", расположим его
с помощью абсолютного позиционирования и ленточку зададим с помощью фона */

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}


/*Блок с ссылками разместим с помощью абсолютного позиционирования*/

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}


/*Зададим общие стили для кнопок: размеры, отступы, рамки и фон*/

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  /*текстовые стили, а также скругления углов*/
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}


/*Задаём отдельные стили для нижней кнопки*/

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}


/*чтобы блок с кнопками появлялся только при наведении*/

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}


/**/

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}


/*Оформим название товара и скидку*/

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}


/*Оформим блок цены*/

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}


/*Добавим для цены стрелку вправо*/

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}
